 /* Hoofdpagina */

body {
    background-color: #9894945d;
}

.hero {
    background-image: url(/mijnwebsite/images/WebsiteCover.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.eersteP {
    padding-left: 6%;
    font-size: 1.5rem;
    display: flex;
    align-items: start;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
}

.tweedeP {
    font-size: large;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(234, 203, 195), rgb(210, 209, 197), rgb(193, 146, 146));
    -webkit-background-clip: text;
    color: transparent;
} 

.name {
    font-size: 3rem;
    font-style: oblique;
    background: linear-gradient(to right, rgb(60, 255, 0), rgb(255, 60, 0), rgb(255, 234, 0), rgb(255, 255, 255));
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#card-body {
    background-color: #721c24;
}


/* Contactpagina */

.contact-form {
    margin-top: 20px;
}

.response-message {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    display: none;
}

.response-message.success {
    background-color: #d4edda;
    color: #155724;
}

.response-message.error {
    background-color: #f8d7da;
    color: #721c24;
}


#contact{
    margin-bottom: 9vh;
}


/* projects pagina */

#projects{
    margin-bottom: 2%;
}